**/.DS_Store
**/*.xcuserstate

NeuronalNetwork/NeuronalNetwork.xcodeproj/project.xcworkspace/xcuserdata/fricker.xcuserdatad/UserInterfaceState.xcuserstate
NeuronalNetwork/NeuronalNetwork.xcodeproj/xcuserdata/fricker.xcuserdatad/xcschemes/xcschememanagement.plist
